* {
  margin: 0;
  padding: 0;
}

body {
  color: #FFF;
  background-color: #0D0D0D;

  font-family: "Metrophobic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;

  margin: 5% 8%;
}

section {
  margin: 50px 0px;
}

section h2 {
  text-transform: uppercase;
  font-size: 2rem;

  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #00D1FF;
}

a:visited {
  color: #FFF
}
